:root{
    --theme-skin: #ff5f77;
    --theme-skin-matching:#ff91af;
    --infor_bar_bgcolor:rgba(255,255,255,0.8);
    --style_menu_selection_radius:15px;
    --post_list_matching_color:#ffb7c5;
    --load_nextpage_svg:url("https://statics.imoeq.com/blog/ball.svg");
    --style_menu_radius:10px;
    --post-list-thumb: #e8e8e8;
    --friend-link-shadow: #e8e8e8;
    --friend-link-title: #ffe066;
    --comment_area_matching: #ffe066;
    --comment_area_shadow: #e8e8e8;
    --shuoshuo_background_color1:#8f4ec4;
    --shuoshuo_background_color2:#ea00bf;
    --inline_code_background_color:#F2F1F1;
        --theme-skin-dark:  #b500dd;
    --global-font-weight:300;
    --theme-dm-background_transparency:0.7;
    --exhibition_area_matching_color:#d3212d;
    --inline_code_background_color_in_dark_mode:#505050;
}
.the-feature.from_left_and_right .info,.the-feature.from_left_and_right .info h3{background: rgba(193,193,193,0.4) ;}

/*白猫样式Logo*/


/*非全局色彩管理*/
.post-date {
    background-color: #ffb7c526;
}

.center-text{
color: rgba(237,78,54,0.43) ;
font-size: 84px;
}
.Ubuntu-font,.center-text{
font-family:  ;
}

.notice i ,
.notice {
    color: #f47738;
}

.notice {
    border: 1px solid #E6E6E6;
}



#centerbg{background:#0000;}

/*预加载部分*/


/*深色模式*/
/*可变项目*/

/*深色模式控件透明度*/
body.dark .header-info,
body.dark .header-shuo,
body.dark .top-social img
{color:#fff;background:rgba(51,51,51,0.75);}

body.dark .the-feature.from_left_and_right .info
{background-color: rgba(51,51,51,0.75);}

body.dark .yya,
body.dark input[type=submit] 
{background-color:rgba(38,38,38,0.75) !important;}

/*深色模式自定义颜色*/
body.dark .headertop-down svg path 
{fill: rgba(51,51,51,0.8) !important;transition: all 0.8s ease !important;}

/*深色模式图像亮度*/
body.dark img,
body.dark .highlight-wrap,
body.dark iframe,
body.dark .entry-content .aplayer,
body.dark .post-thumb video
{filter:brightness(0.8);}
@media (max-width: 1200px){
body.dark .site-top .lower nav.navbar ul 
{background: rgba(255,255,255,0);}
}

/*字体*/


.serif{
font-family: !important ;
font-size: 15px;
}

body{
font-family: !important;
font-size: 15px;
}

.site-top ul li a,.header-user-name,.header-user-menu a {
font-family:Noto Serif SC !important;
}


.site-title a{
font-family: 'ZCOOL QingKe HuangYou';
}


.site-info,.site-info a{
font-family:Noto Serif SC !important;
}

.skin-menu p{
font-family:Noto Serif SC !important;
}

h1.main-title,h1.fes-title{
font-family:Noto Serif SC;
}

.header-info p, .header-shuo p{
font-family:Noto Serif SC !important;
font-size: 16px;
}

.cbp_tmtimeline > li .cbp_tmlabel {
font-family:Noto Serif SC !important;
}

.post-list-thumb .post-title h3{
font-size: 18px !important;
}

.post-meta, .post-meta a{
font-size: 12px !important;
}

.pattern-center h1.cat-title,
.pattern-center h1.entry-title {
font-size: 40px ;
}
.pattern-center-sakura h1.cat-title,
.pattern-center-sakura h1.entry-title {
font-size: 40px !important;
}

.single-center .single-header h1.entry-title {
font-size: 32px ;
}

/*鼠标*/
body{
cursor: url(https://statics.imoeq.com/blog/normal.cur), auto;
}

.headertop-down,
#waifu #live2d,
.aplayer svg,
.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic,
#emotion-toggle,
.emoji-item,
.emotion-box,
.emotion-item,
.on-hover,
.tieba-container span,
#moblieGoTop,
#changskin{
cursor: url(https://statics.imoeq.com/blog/No_Disponible.cur), auto;
}

a,
.ins-section .ins-section-header,
.font-family-controls button,
.menu-list li,.ins-section .ins-search-item,
.ins-section .ins-search-item .ins-search-preview{
cursor: url(https://statics.imoeq.com/blog/ayuda.cur), auto;
}

p,
.highlight-wrap code,
.highlight-wrap,
.hljs-ln-code .hljs-ln-line{
cursor: url(https://statics.imoeq.com/blog/texto.cur), auto;
}

a:active{
cursor: url(https://statics.imoeq.com/blog/work.cur), alias;
}

/*背景类*/
.comment-respond textarea {
background-image: url(); 
}

.search-form.is-visible{
background-image: url(https://statics.imoeq.com/blog/iloli.gif);
}

.site-footer {
background-color: rgba(255, 255, 255,0.4);
 backdrop-filter: blur(10px);  -webkit-backdrop-filter: blur(10px); }

.wrapper {
background-color: rgba(255, 255, 255,0.4);
 backdrop-filter: blur(10px);  -webkit-backdrop-filter: blur(10px); }

/*首页圆角设置*/
.header-info,.header-shuo{
border-radius: 50px;
grid-row: 1;
grid-column: 1;
}


.focusinfo img{
border-radius: 15px;
}

.focusinfo .header-tou img{
border-radius: 100px;
}

/*标题横线动画*/
.single-center header.single-header .toppic-line{
position:relative;bottom:0;left:0;display:block;width:100%;height:2px;background-color:#fff;animation:lineWidth 2.5s;animation-fill-mode:forwards;}
@keyframes lineWidth{0%{width:0;}
100%{width:100%;}
}

/*标题动画*/
.entry-title,.single-center .entry-census a,.entry-census,.post-list p,.p-time,.feature{
	-moz-animation: fadeInDown 2s;
    -webkit-animation:fadeInDown 2s;
	animation: fadeInDown 2s;
}
@-moz-keyframes fadeInUp {
	0% {
		-moz-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@-webkit-keyframes fadeInUp {
	0% {
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@keyframes fadeInUp {
	0% {
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}

/*首页封面动画*/
h1.main-title, h1.fes-title,.the-feature.from_left_and_right .info,
.header-info p,.header-info,.header-shuo,.header-shuo p,
.focusinfo .header-tou img,.top-social img,.center-text{
	-moz-animation: fadeInDown  1.16s;
    -webkit-animation:fadeInDown  1.16s;
	animation: fadeInDown  1.16s;
}
@-moz-keyframes fadeInDown {
	0% {
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@-webkit-keyframes fadeInDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	50% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@keyframes fadeInDown {
	0% {
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}

/*导航菜单动画*/

/*其他*/

.headertop{
    border-radius: 0 0 15px 15px;
}




.author-profile .meta {
display:none;
}


.post-modified-time {
display:none;
}








.post-list-thumb:nth-child(2n) .post-content-wrap {
    float: left;
    padding-left: 30px;
    padding-right: 0;
    text-align: right;
    margin: 20px 10px 10px 0
}
.post-list-thumb:nth-child(2n) .post-thumb {
    float: left
}

.post-list-thumb:nth-child(2n) .post-thumb a {
    border-radius: 10px 0 0 10px
}

.pattern-center::after {
    display:none;
}
.pattern-center-blank {
    display:none;
}

.site-header {
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    background: 0 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: fixed;
    z-index: 999;
    border-radius: 0px;
}
.header-user-avatar {
  margin-top: 22px;
}
.site-branding {
  height: 75px;
  line-height: 75px;
}
.site-title img {
  margin-top: 17px;
}
.site-top .lower {
  margin: 15px 0 0 0;
}
.lower li ul {
  top: 46px;
  right: -24px;
}
.header-user-menu {
  right: -11px;
  top: 44px;
}
.logolink a {
  height: 56px;
  line-height: 56px;
}
.logolink.moe-mashiro a{
  line-height: 56px !important;
}
.searchbox.js-toggle-search{
  margin: 17px 0;
  margin-left: 15px;
}
@media (max-width:860px) {
.site-header {
  height: 60px;
}
}


.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    display: none;
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
    display: none;
}

.the-feature.from_left_and_right {
    position: relative;
    border-radius: 15px;
    height: 160px;
    width: 258px;
    margin: 6px 6px 0 6px;
}

.the-feature img {
    height: 160px;
    width: 258px;
}


h1.fes-title,
h1.main-title {
    text-align: center;
}


.notice {
    background: #fbfbfb50;
}


body{
    background-size:auto;
}
#video-add{
    background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/add.png);
}
@media (max-width:860px) {
  .headertop.filter-dot::before {
    background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/grid.png);
  }
}
.headertop.filter-grid::before {
  background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/grid.png);
}

.headertop.filter-dot::before {
  background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/dot.gif);
}
.loadvideo,.video-play {
  background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/play.png);
}

.video-pause {
  background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/stop.png);
}
#loading-comments {
background-image: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/load_svg/ball.svg);
}

#banner_wave_1 {
    background: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/wave1.png) repeat-x;
}
#banner_wave_2 {
    background: url(https://cdn.jsdelivr.net/gh/Fuukei/Sakurairo_Vision@2.6/basic/wave2.png) repeat-x;
}
