# workspace cache
.obsidian/workspace.json

# workspace cache specific to mobile devices
.obsidian/workspace-mobile.json

# OS settings and caches
.DS_Store

# Obsidian's trash
.trash/

# some plugins' cache
.obsidian/plugins/github-copilot/copilot-*
.obsidian/plugins/github-copilot/conversations.json
.obsidian/plugins/github-copilot/secure-credentials.dat
.obsidian/plugins/obsidian-quiet-outline/markdown-states.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/update-time-on-edit/data.json
# consistency-report.md

# Edit History plugin generated edit history files
*.edtz
